<div class="card h-100 border-0">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ product.image }}"
          class="img-fluid rounded-start h-100"
          alt="{{ product.title }}"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title display-6">{{ product.title }}</h5>
          <p class="text-muted">
            {{ product.category }}
          </p>
  
          <h2 class="text-primary fs-2 my-2 fw-bold">
            {{ totalPrice  }}
          </h2>
  
          <!-- <star-rating
            class="star-svg"
            labelPosition="right"
            [readOnly]="true"
            [starType]="'svg'"
            size="large"
            [rating]="product.rating.rate"
            [labelText]="reviewText"
          /> -->
  
          <p class="card-text text-muted my-3">
            {{ product.description }}
          </p>
  
          <div class="w-50 d-flex flex-column gap-2">
            <div class="d-flex gap-4 my-3 align-items-center w-100">
              <div class="d-flex align-items-center gap-3">
                <button (click)="increaseProductQuantity()" class="btn btn-secondary">
                  <i class="bi bi-plus-lg"></i>
                </button>
                <span class="fs-5">{{ productQuantity }}</span>
                <button (click)="decreaseProductQuantity()" class="btn btn-secondary">
                  <i class="bi bi-dash-lg"></i>
                </button>
              </div>
  
              <button class="btn btn-primary btn-lg p-2 d-flex flex-grow-1 gap-2 justify-content-center align-items-center" (click)="onAddToCart()">
                <i class="bi bi-handbag"></i>
                Sepete Ekle
              </button>
              
            </div>
  
           
          </div>
        </div>
      </div>
    </div>
  </div>
  