
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f8f9fa;
}


tbody tr:nth-child(even) {
  background-color: #ffffff;
}

th {
  background-color: #242A32; 
  color: #ffffff; 
}


td {
  color: #000000; 
}
