
.navbar-brand {
    font-size: 24px; 
    color: #2b2929; 
    text-decoration: none; 
    margin-right: 20px; 
 
  }
  .navbar{
    background-color: #28a745;
  }
 
  
  .breadcrumb {
    background-color: transparent; 
    padding: 0; 
  }
  


  
  .btn-outline-success {
    background-color: transparent; 
    border: none; 
    color: #0296E5; 
    padding: 5px 15px;
  }
  
  .btn-outline-success i {
    margin-right: 8px; 
  }
  
  
  .badge {
    font-size: 12px; 
    position: absolute; 
    top: -8px; 
    right: -8px; 
  }
  